body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    background: #F5F5DC;
    overflow-y: scroll;
    overflow-x: hidden;
}


header {
    background: gold;
    width: 100%;
    height: 50px;
    margin: 0px;
    display: flex; /* Torna flexível */
    align-items: center; /* Alinha verticalmente */
    justify-content:space-between; /* Espaço entre os elementos */
    padding: 10px 20px;
}


header h1{
    margin-left: 10px;
}

.container{
    display: flex;
     align-items: center;
     margin-right: 60px;
}


.containerOption {
    display: flex;
    gap: 10px;
    height: 40px;
}

.ImageUser {
    border-radius: 100px;
    background: gray;
    height: 40px;
    width: 40px;
    margin-left: 20px;
}




.header-icons img,
.ImageUser {
    height: 30px;
    margin-left: 10px;
}

.ImageUser {
    width: 30px;
    background: gray;
    border-radius: 50%;
}

nav {
    background-color: #2C2C2C;
    color: white;
    display: flex;
    padding: 10px;
    gap: 20px;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

nav button:hover {
    color: gold;
}


/*menu */

#dropdown-menu {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    left: 10px;
    z-index: 100;
    flex-direction: column;
}

/* Esconde o menu por padrão */
.menucult {
    display: none;
}

/* Exibe o menu quando ativo */
.ativo {
    display: flex;
}

#dropdown-menu button {
    margin: 5px 0;
    background-color: #2c2c2c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: larger;
}

#dropdown-menu button:hover {
    background-color: #444;
}


.placeback{
    display: flex;
    justify-content: center;
}

#bntvoltar{
    border: 2px solid black;
    background: #2C2C2C;
    color: #FFFFFF;
    width: 170px;
    border-radius: 10px;
    height:50px;
    border: none;
    margin-top: 5px;
    padding: 5px;
    font-size: larger;
}


main{
    display: flex;
    justify-content: center;
}


#TablePay{
    background: #FFFFFF;
    border: none;
    width: 800px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px black;
    
   
}

.TablePay_pay{
    display: inline-block;
    width: 100%;

}

.TablePay_pay_text{
display: inline-block;
}


.TablePay_methodPaymant{
    display: inline-block;
    background: none;
    height: 20px;
    width: auto;
    border: none;
    background: #2C2C2C;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;

}

#container{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TablePay_politics{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#politicas{
    background: black;
    color: white;
    width: 250px;
    max-height: 300px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px  black;
    padding: 10px;
    overflow: auto;
}



#Orcamento,#politicas,.TablePay_methodPaymant,#Reserv,#Voltar{
    font-size: larger;  
    
}

#Orcamento{
    background: #FEEFC0;
    width: 250px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px  black;
    padding: 5px;
}

#Orcamento div {
   border-bottom: 2px dashed black;
}

#Reserv{
    background: #8BF464;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: none;
    color: black;

}

#Reserv :hover{
 color: green;

}






@media screen and (max-width:768px) {
    
    main{
        background: red;
    }

    #TablePay{
        width: 320px;
        flex-direction: column;
    }

    .TablePay_pay{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
         
    }

    .TablePay_methodPaymant{
        display: flex;
        align-items: center;
        justify-content: center;
       
    }

    #container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}























