*{
    background-color:rgb(192, 192, 186);
}
h1{
    font-size: 50px;
    text-align: center;
    color: rgb(23, 235, 23);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr{
    width: 50%;
    height: 10px;
    background: hsla(90, 29%, 44%, 0.486);
    
}

p{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

img{
    display: inline-block;
    margin: 2rem;
    padding: 0px;
    margin-right: 100px;
    padding-left: 100px;
}
/* id e muito individual   & class e  mais se voce quiser que mais de um fioque bom gerla*/