* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
::placeholder {color: white;}
:root {
    --Bg-Gold: #FFC300;
    --Bg-Dark: #2C2C2C;
}
body {
    background: #F5F5DC;
    height: 100vh;
}
.Container .LoginContainer, 
.Container .ContainerCadastro {
    padding: 10px;
    height: 100%;
    width: 80%;
    background: var(--Bg-Gold);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    transition: .4s ease-in-out;
}
header {
    width: 100vw;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
header button:hover {
    background: white;
    color: black;
}
header h4 {
    text-align: left;
    font-size: 35px;
    width: 60%;
}
h4 {
    text-align: center;
    font-size: 35px;
}
.Container {
    margin-left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    background: var(--Bg-Dark);
    border-radius: 20px;
    width: 70vw;
    height: 70vh;
    display: flex;
}
.Container .ContainerCadastro {
    width: 0;
    padding: 0;
    margin-left: 191px;
}
.Container .LoginContainer section,
.Container .ContainerCadastro section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.Container .LoginContainer section .CardLogon,
.Container .ContainerCadastro section .CardCadastro {
    width: 70%;
    padding: 5px 15px;
    background: var(--Bg-Dark);
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.Container .LoginContainer section .Pass input,
.Container .ContainerCadastro section .Pass input {
    width: 85%;
}
.Container .LoginContainer section .CardLogon input,
.Container .ContainerCadastro section .CardCadastro input {
    width: 90%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 17px;
    color: white;
}
.Container .LoginContainer section .Pass input {
    width: 87%;
}
.Container .LoginContainer section .CardLogon i {
    color: white;
    font-size: 17px;
    cursor: not-allowed;
}
.Container .LoginContainer section .Pass #IToggleVerPassLogin {
    cursor: pointer;
}
.Container .LoginContainer a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-left: 120px;
}
.Container .LoginContainer .Controls,
.Container .ContainerCadastro .Controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.Container .LoginContainer .Controls button,
.Container .ContainerCadastro .Controls button {
    padding: 10px;
    border: none;
    background: var(--Bg-Dark);
    color: white;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.Container .ContainerCadastro .Controls button {
    width: 120px;
}
.Container .LoginContainer .Controls button:hover,
.Container .ContainerCadastro .Controls button:hover {
    background: white;
    color: black;
    box-shadow: 0 0 10px black;
}
.Container .LoginContainer .Controls h3,
.Container .ContainerCadastro .Controls h3 {
    display: flex;
    width: 100%;
    white-space: nowrap;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container .LoginContainer .Controls h3 a,
.Container .ContainerCadastro .Controls h3 a {
    white-space: nowrap;
    padding: 10px;
    cursor: pointer;
}
.Container .LoginContainer .Controls h3 a:hover,
.Container .ContainerCadastro .Controls h3 a:hover {
    background: white;
    color: black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
section.ContainerProblemas {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--Bg-Gold);
    border-radius: 10px;
    width: 20vw;
    padding: 10px;
    height: auto;
    transition: .4s ease-in-out;
}
section.ContainerProblemas:hover {
    box-shadow: 0 0 10px black,
                0 0 20px black;
}
section.ContainerProblemas h4 {
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: .4s;
}
section.ContainerProblemas .CardProblema {
    padding: 0;
    width: 0;
    height: 0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    transition: .4s ease-in-out;
}
section.ContainerProblemas .CardProblema:hover {
    background: black;
    color: white;
}