body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    background: #F5F5DC;
}



header {
    background: gold;
    width: 100%;
    height: 50px;
    margin: 0px;
    display: flex; /* Torna flexível */
    align-items: center; /* Alinha verticalmente */
    justify-content:space-between; /* Espaço entre os elementos */
    padding: 10px 20px;
}


header h1{
    margin-left: 10px;
}

nav{
    background: black;
    width: 100%;
    height: 50px;
  
}


nav button{
    height: 50px;
    color: white;
    border-radius: 20px;
    font-size: larger;
    border: none;
    background: none;
}

nav button:hover{
   color: gold;
}

.container{
    display: flex;
     align-items: center;
     margin-right: 20px;
}


.containerOption {
    display: flex;
    gap: 10px;
    height: 40px;
}

.ImageUser {
    border-radius: 100px;
    background: gray;
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

.ImageUser{
    border-radius: 100px;
    background: gray;
    height: 40px;
    width: 40px;
}

#bntvoltar{
    border: 2px solid black;
    background: #2C2C2C;
    color: #FFFFFF;
    width: 170px;
    border-radius: 10px;
    height: 40px;
    border: none;
    margin-top: 5px;
    padding: 5px;
    font-size: larger;
}



.containerTermo{
    
    height: auto;
    width: 750px;
    border: solid black 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    background: #e4bebe;
    font-size: medium;
    overflow-y: scroll;
    overflow-x: hidden;
   
  
}

.containerTermo p {
    font-size: larger;
    
}



.checkbox-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}


.inici{
    border: 2px solid black;
    background: #2C2C2C;
    color: #FFFFFF;
    width: 170px;
    border-radius: 10px;
    height: 40px;
    border: none;
    margin-top: 5px;
    padding: 5px;
    font-size: larger;
}




@media screen and (max-width:375px) {

    
   .containerTermo{
    width: 340px;
    overflow-y: scroll;
    margin-top: 15px;
   }
    
   #bntvoltar{
    border: 2px solid black;
    background: #2C2C2C;
    color: #FFFFFF;
    width: 170px;
    border-radius: 10px;
    height: 40px;
    border: none;
    margin-top: 5px;
    padding: 5px;
    font-size: larger;
    
}

}
    
    
@media screen and (max-width:390px) {

    
    .containerTermo{
     width: 350px;
     overflow-y: scroll;
     margin-top: 15px;
    }
     
    #bntvoltar{
     border: 2px solid black;
     background: #2C2C2C;
     color: #FFFFFF;
     width: 170px;
     border-radius: 10px;
     height: 40px;
     border: none;
     margin-top: 5px;
     padding: 5px;
     font-size: larger;
     
 }
 
 }
    