body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background: F5F5DCrgb(245, 182, 89);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background: #FFC300;
    height: 70px;
    width: 100%;
}

header button {
    background: rgb(255, 255, 255);
    height: 48px;
    width: 48px;
    position: absolute;
    top: 10px;
    left: 10px;
}

header button span{
    background: black;
    width: 24px;
    height: 3px;
    margin: 2px;
    padding: 2px;
    border-radius: 10px;
    display: flex;
}



div{
    background: #FFC300;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div input{
    height: 30px;
    width: 200px;
    background: #2C2C2C;
    color: white;
    border: none;
    margin: 5px;
    border-radius: 5px;
}

div button{
    height: 30px;
    width: 120px;
    background: #2C2C2C;
    color: white;

}

