body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #F5F5DC;
}

header {
    background: gold;
    width: 100%;
    height: 50px;
    margin: 0px;
    display: flex; /* Torna flexível */
    align-items: center; /* Alinha verticalmente */
    justify-content:space-between; /* Espaço entre os elementos */
    padding: 10px 20px;
}


header h1{
    margin-left: 10px;
}

.container{
    display: flex;
     align-items: center;
     margin-right: 60px;
}


.containerOption {
    display: flex;
    gap: 10px;
    height: 40px;
}

.ImageUser {
    border-radius: 100px;
    background: gray;
    height: 40px;
    width: 40px;
    margin-left: 20px;
}




.header-icons img,
.ImageUser {
    height: 30px;
    margin-left: 10px;
}

.ImageUser {
    width: 30px;
    background: gray;
    border-radius: 50%;
}

nav {
    background-color: #2C2C2C;
    color: white;
    display: flex;
    padding: 10px;
    gap: 20px;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

nav button:hover {
    color: gold;
}


/*menu */

#dropdown-menu {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    left: 10px;
    z-index: 100;
    flex-direction: column;
}

/* Esconde o menu por padrão */
.menucult {
    display: none;
}

/* Exibe o menu quando ativo */
.ativo {
    display: flex;
}

#dropdown-menu button {
    margin: 5px 0;
    background-color: #2c2c2c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: larger;
}

#dropdown-menu button:hover {
    background-color: #444;
}


.placeback{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.placeback button{
    height: 40px;
    width: 200px;
    text-align: center;
    font-size: large;
    background: #2C2C2C;
    color: white;
    border: none;
    border-radius: 50px;

}

main{
    
     height:auto;   
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.container-produtos{
    background:white;
    margin: 10px;
    height: auto;   
    width: 800px;
    display: flex;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
/*
.foto-produto{
    
}
*/


.foto-produto img {
    height: 400px;
    width: 300px;
    
}

.Informaçoes-all{
    
    font-size: larger;
    padding: 10px;
}

.Informaçoes-geral{
    
    border-bottom:2px solid black;

}

.name-heart{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.name-heart img{
    height: 30px;
}

.price-star{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.price-star ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}


.descricao {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}


.button-reservar{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.button-reservar button{
    height: 40px;
    width: 200px;
    background: #8BF464;
    color: #2c2c2c;
    border-radius: 10px;
    border: none;
    font-size: larger;
}

.button-reservar button:hover{
   color: #FFC300;
}


/*Secção de comentario*/
section{
    height: auto;
    width: 100%;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.user-comentario{
    border:  1px solid black;
     background: white;
    height: auto;
    width:500px;
    padding: 10px;
    
    
}

.user-comentario input{
   height: 20px;
   width:300px;
   border-radius: 100px;
   
}

.user-comentario input:focus{
    background: gray;
    color: wheat;
 }

 .user-comentario button{
    height: 40px;
    width:120px;
    background: #2C2C2C;
    color: white;
    border: none;
    font-size: large;
    border-radius: 10px;
    gap: 10px;
 }

.foto-user{
    background: gray;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}



@media screen and (max-width:768px) {
    

    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }

    main{
        height: auto;
        margin-top: 10px;
    }

    .container-produtos{
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    section{
        
        height: auto;
    }  
    
    .user-comentario{
    
    height: auto;
    width:300px;
    
    }

    .user-comentario button{
        margin-top: 10px;
    }

    .foto-user{
    background:#444 ;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

    footer{
        display: flex;
        flex-direction: column;
    }

   

  .maps{
    width: 90%;
  }
}












































/*Configuração do footer*/
footer{
    background: #2C2C2C;
    color: white;
    width: 100%;
    height: auto;
 
}

.infoMain{  
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-around;

}


.infoSecond{
    padding: 5px;
    height: 280px;
    width: 370px;
    font-size: larger;

}

.infoSecond p:nth-child(2){
    
    border-bottom: 2px solid white;
}

.Symbol{
    border-radius: 100px;
    background: gray;
    height: 40px;
    width: 40px;
    
}



.copy{
    background: #FFC300;
    color: #2C2C2C;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;

}
