body{
    background: rgb(58, 57, 57);
    height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    margin-top: 50px;
}


.tabel{
    background: goldenrod;
    display: flex;
    align-items: center;
    height: 300px;
    width: 300px;
    flex-direction: column;
    border-radius: 10px;
    gap: 30px;
    margin-top: 50px;
}

a{
    padding: 5px;
    margin: 10px;
    color: rgba(247, 241, 241, 0.829);
    border-radius: 5px;
    background: black;
    text-decoration: none;
    width: 100px;
    text-align: center;
    
}

.log{

    display: flex;
    align-items: center;
    
}

h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

input{
    border-radius: 5px;
    background: black;
    color: white;
    width: 200px;
    height: 30px;
}

body input:focus{
    background: gray;

}

body a:focus{
    background: gray;
    
}

