

.main{
    margin: 20px;
    background: goldenrod;
    height: 250px;
    width: 1300px;
    border-radius: 10px;
}

.secundary{
    margin: 20px;
    background: rgb(224, 167, 22);
    height: 110px;
    width: 1300px;
    border-radius: 10px;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    

}

.secundary1{
    background: black;
    margin: 10px;
    height: 80px;
    width: 140px ;
    color: white;
    
}

.secundary2{
    background: black;
    margin: 10px;
    height: 80px;
    width: 140px ;
}


.secundary3{
    background: black;
    margin: 10px;
    height: 80px;
    width: 140px ;
}

.secundary4{
    background: black;
    margin: 10px;
    height: 80px;
    width: 140px ;
}

.secundary5{
    background: black;
    margin: 10px;
    height: 80px;
    width: 140px;
}



#prod1 {
    background: rgb(224, 167, 22);
    margin: 20px;
    padding-top: 10px;
 
    padding-left: 0px;
    height: 200px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#prod2 {
    background: rgb(0, 0, 0);
    width: 200px;
    height: 150px;
    
}


#prod3 {
    background: rgb(224, 167, 22);
    margin: 20px;
    padding-top: 10px;
 
    padding-left: 0px;
    height: 200px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#prod4 {
    background: rgb(0, 0, 0);
    width: 200px;
    height: 150px;
    
}


#prod5 {
    background: rgb(224, 167, 22);
    margin: 20px;
    padding-top: 10px;
 
    padding-left: 0px;
    height: 200px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#prod6 {
    background: rgb(0, 0, 0);
    width: 200px;
    height: 150px;
    
}


#prod7 {
    background: rgb(224, 167, 22);
    margin: 20px;
    padding-top: 10px;
 
    padding-left: 0px;
    height: 200px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#prod8 {
    background: rgb(0, 0, 0);
    width: 200px;
    height: 150px;
    
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.search{
    background: yellow;
}