body{
    background: #F5F5DC;
    height: 100vh;
    width: 100%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
    padding: 0px;
    margin: 0px;
}


header{
    height: 100vh;
    width: 100%;
    background: #EFB701;
   
}


#Voltar{
    background: black;
    color: white;
    border: none;
    height: 40px;
    width: 150px;
    position: absolute;
    left: 5px;
    top: 55px;
}

#TablePay{
    background: #FFFFFF;
    border: solid 2px black;
    width: 700px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
   
}

.methodPaymant{
    background: none;
    width: 523px;

}

#quadrado{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#politicas{
    background: #FF5B5B;
    width: 250px;
    height: auto;
    margin: 10px;
    
}

#politicas,#Orcamento h2{
    color: black;

}


#Orcamento,#politicas,.methodPaymant,#Reserv,#Voltar{
    font-size: larger;  
    border: solid 2px black;
}

#Orcamento{
    background: #EFB701;
    width: 250px;
    height: auto;
    margin: 10px;
}

#Reserv{
    background: #8BF464;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: none;
    color: black;
    
    

}
































