body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    background: #F5F5DC;
}



header {
    background: gold;
    width: 100%;
    height: 50px;
    margin: 0px;
    display: flex; /* Torna flexível */
    align-items: center; /* Alinha verticalmente */
    justify-content:space-between; /* Espaço entre os elementos */
    padding: 10px 20px;
}


header h1{
    margin-left: 10px;
}

nav{
    background: black;
    width: 100%;
    height: 50px;
  
}


nav button{
    height: 50px;
    color: white;
    border-radius: 20px;
    font-size: larger;
    border: none;
    background: none;
}

nav button:hover{
   color: gold;
}

.container{
    display: flex;
     align-items: center;
     margin-right: 20px;
}


.containerOption {
    display: flex;
    gap: 10px;
    height: 40px;
}

.ImageUser {
    border-radius: 100px;
    background: gray;
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

.ImageUser{
    border-radius: 100px;
    background: gray;
    height: 40px;
    width: 40px;
}

#bntvoltar{
    border: 2px solid black;
    background: #2C2C2C;
    color: #FFFFFF;
    width: 170px;
    border-radius: 10px;
    height: 40px;
    border: none;
    margin-top: 5px;
    padding: 5px;
    font-size: larger;
}



#TableCalendar{
    background: white;
    height: 600px;
    width: 650px;
    border: 1px solid black;
    padding: 10px;
 
}

#TableCalendar p{
    font-size: larger;
    display: flex;
    justify-content: center;
 
}

.month-nav{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: larger;
}

.month-nav select {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
  }
  

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    margin-top: 10px;
    
  }
  
  .calendar-day {
    padding: 10px;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .calendar-day:hover {
    background-color: #ccc;
  }
  




.date-output  {
    display: flex;
    margin: 10px;
}


.date-output  div  {
    color: white;
    background: #2C2C2C;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: larger;
}

.rental-dates{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;   
        
        
        
        
    
    
}

.terms-button{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.confirm{
    border: 2px solid black;
    background: #2C2C2C;
    color: #FFFFFF;
    width: 170px;
    border-radius: 10px;
    height: 40px;
    border: none;
    margin-top: 5px;
    padding: 5px;
    font-size: larger;
}
