body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #2C2C2C;
    position: relative;
    
}

/*Configuraçoes do Header*/
header{
    height: 60px;
    background: #DAA520;
   z-index: 1;
   display: relative;
  
}

/*Simbolo de menu */
#simbolo_menu{
    height: 30px;
    margin: 20px;
    cursor: pointer;
}

/*Menu que abre apos clickar no simbolo do menu*/
#menu_header{
    z-index: 2;
    height: 100%;
    width: 300px;
    position: fixed;
    top:0;
    background: #2C2C2C;

}


nav {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;

}

nav a {
    font-size: 30px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

/*Segundo menu (Amarelo) que abre junto com o (menu_header)*/
#menu_menu_header{
    z-index: 3;
    height: 60px;
    width: 300px;
    position: fixed;
    top:0;
    background: #DAA520;
   
   
}

#close_menu{
    height: 40px;
    width: 40px;
    margin: 10px;
}

.hidden{
    display: none;
}

/*Configuraoes de carrosel */
#carrosel{
    margin: 30px;
    height: 200px;
    background: #DAA520;
    border-radius: 10px;
    position: relative;
}

/*bolinhas do carrosel */

.point{
    background: white;
    height: 20px;
    width: 20px;
    margin: 30px;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
      
   
}


/*Botão esquerdo do carrosel*/

#buttonCarEsquerdo{
    background: #D9D9D9;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    left: -10px;
    top: 60px;
}

#buttonCarEsquerdo img{
    height: 30px;
    width: 30px;
    
}



/*Botão diteito do Carrosel */

#buttonCarDireito{
    background: #D9D9D9;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: 60px;
}

#buttonCarDireito img{
    height: 30px;
    width: 30px;
    
}



/* Style of Shop*/
#container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.configall{
margin: 30px;
padding: 15px;    
height: 200px;
width: 200px;
background: #DAA520;
border-radius: 10px;
display: inline-block;

}


.configall a{

align-items: center;
justify-content: center;
display: flex;

}

.configall p{

    align-items: center;
    justify-content: center;
    display: flex;
    
    }

.configall img{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 150px;
}



/*Editando de acordo com a largura da tela */
@media(max-width:412px){
    

    body{
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
        background: #2C2C2C;
       
    }
    
    header{
        height: 60px;
        background: #DAA520;
    }

    #AllConfigShop{
        align-items: center;
        justify-content: center;
       display: inline-block;
        
    }
    
    #configall{
    margin: 50px;
    padding: 15px;    
    height: 200px;
    width: 200px;
    background: #DAA520;
    border-radius: 10px;
    
    }

    
    #configall a{
    
    align-items: center;
    justify-content: center;
    display: flex;
    
    }
    
    #configall p{
    
        align-items: center;
        justify-content: center;
        display: flex;
        
        }
    
    #configall img{
        align-items: center;
        justify-content: center;
        display: flex;
        height: 150px;
    }
}