body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #F5F5DC;
}

header {
  background: #ffcc00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
}

.Header_Input {
  width: 40%;
}

.Header_Input input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.containerOption img {
  height: 25px;
}

.ImageUser {
  height: 30px;
  width: 30px;
  background: gray;
  border-radius: 50%;
}

nav {
  background: #2c2c2c;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
}

nav button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

nav button:hover {
  color: gold;
}

/*menu */

#dropdown-menu {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    left: 10px;
    z-index: 100;
    flex-direction: column;
}

/* Esconde o menu por padrão */
.menucult {
    display: none;
}

/* Exibe o menu quando ativo */
.ativo {
    display: flex;
}

#dropdown-menu button {
    margin: 5px 0;
    background-color: #2c2c2c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: larger;
}

#dropdown-menu button:hover {
    background-color: #444;
}



main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5dc;
}

.Carrosel {
  width: 70%;
  margin: 20px 0;
 
}

.carrosel-img {
  width: 100%;
  border-radius: 10px;
}

.categorias {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.categorias button {
  font-size: larger;
  background: #2c2c2c;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.categorias button:hover{
  color: #FFC300;
}

.produtos {
  
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  background: #fffacd;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit:  cover;
}

.card h4 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.Place_preco{
  display: flex;
  justify-content: end;
}

.card .preco {
  font-weight: bold;
  margin: 5px 0;
}

.card button {
  background: gold;
  color: black;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
}

.card button:hover{
  background: #2C2C2C;
  color: #FFC300;
}






/*Configuração do footer*/
footer{
    background: #2C2C2C;
    color: white;
    width: 100%;
    height: auto;
 
}

.infoMain{  
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-around;

}


.infoSecond{
    padding: 5px;
    height: 280px;
    width: 370px;
    font-size: larger;

}

.infoSecond p:nth-child(2){
    
    border-bottom: 2px solid white;
}

.Symbol{
    border-radius: 100px;
    background: gray;
    height: 40px;
    width: 40px;
    
}



.copy{
    background: #FFC300;
    color: #2C2C2C;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;

}





@media screen and (max-width:768px) {
  

  footer{
    display: block;
    flex-direction: column;
    
    
  }

  .infoSecond{
    
    width: 40%;
    height: auto;
  }

  .maps{
    width: 90%;
  }

}