body{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #2C2C2C;
    overflow: hidden;
   
    
}

/*Configuraçoes do Header*/
header{
    height: 60px;
    background: #DAA520;
   z-index: 2;
   
  
}

/*Simbolo de menu */
#simbolo_menu{
    position: absolute;
    height: 30px;
    
    margin: 20px;
    cursor: pointer;
}

/*Menu que abre apos clickar no simbolo do menu*/
#menu_header{
    z-index: 2;
    height: 100%;
    width: 300px;
    position: fixed;
    top:0;
    background: #2C2C2C;

}


nav {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;

}

nav a {
    font-size: 25px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

/*Segundo menu (Amarelo) que abre junto com o (menu_header)*/
#menu_menu_header{
    z-index: 3;
    height: 60px;
    width: 300px;
    position: fixed;
    top:0;
    background: #DAA520;
    position: relative;
   
}

#close_menu{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 4px;
    margin: 10px;
    cursor: pointer;
}

.hidden{
    display: none;
}





/* Style do Shop*/

/* Container principal Amarelo*/
#container_main{
    top: 100px;
    background-color: #DAA520;
    height: 552px;
    border-radius: 10px;
    margin-top:30px ;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 70px;
    padding-top: 30px;
    position: relative;
    
    
}

/* A Foto "principal" do respectivo produto*/
.container_foto_main{
    background: rgb(184, 179, 179);
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* style de configuração das fotos das 4 fotos */
.painel_foto{
    background-color: rgb(184, 179, 179);
    height: auto;
    width: auto;
    margin: 10px;
    
}

.foto-main-TL{
    width: 350px;
    height: 320px;
    
   
    
}

.foto-TL{
    height: 70px;
    width: 70px;
}



/*Posicionar o nome do produto  */
#nome_produto{
    position: Absolute;
    top: 5%;
    left: 500px;
    font-size: large;


}
/*Posicionar o preço do produto  */
#preco_produto{
    position: Absolute;
    top: 10%;
    left: 500px;
    font-size: large;

}
/*E o id do paragrafo que ea descrição */
#desc{
    position: absolute;
    top: 20%;
    left: 500px;
}

/*E Uma Classe que ambos like e deslike possuem  altera o tamanho dos icones */
.stars{
    position: relative;
    width: 30px;
    height: 30px;
  
}

/*Posicionar o like no colocal desejado  */
#like{
    position: absolute;
    top: 50%;
    left: 500px;
    cursor: pointer;
    
}

/*Posicionar o deslike no colocal desejado  */
#deslike{
    position: absolute;
    top: 50%;
    left: 550px;
    cursor: pointer;
}

/*Botaõ de Comentario */
#comentario{
   margin: 25px;
   height:50px;
   width: 200px;
   border-radius: 5%;
   text-align: center;
   font-size: medium;
   cursor: pointer;
}


/* Colocar as 4 fotos em horizontal*/
.four_foto{
    display: flex;
    cursor: pointer;
}

/*Botão de Comentario*/
#butao_alugar{
    position: absolute; 
    top: 88%;
    left: 600px;
    height:60px;
    width: 250px;
    border-radius: 5%;
    background-color: green;
    color: white;
    text-align: center;
    font-size: large;
    cursor: pointer;
    
    
}

/*Botão de Alugar*/
#addCarrinho{
    height:50px;
    width: 200px;
    border-radius: 5%;
    background: #6F89DB;
    color: #FFFF;
    text-align: center;
    font-size: medium;
    cursor: pointer;
}






/*Editando de acordo com a largura da tela */
@media(max-width:228px){
    
    body{
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background: #2C2C2C;
        position: relative;
        
    }
    
    #container_main{
    background-color: #DAA520;
    height: 552px;
    border-radius: 10px;
    margin-top:30px ;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 70px;
    padding-top: 30px;
    
    
}



    .container_foto_main{
        background: rgb(240, 2, 2);
        height: 300px;
        width: 300px;
        
    }
}