body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #F5F5DC;
}


header{
    background: gold;
    width: 100%;
    height: auto;
    margin: 0px;
}

header h1{
    margin-left: 10px;
    display: inline-block;
}

header div{
    display: inline-block;
    
}

header div img{
    height: 25px;
    padding: 4px;
    width: 25px;
    
}

nav{
    background: black;
    width: 100%;
    height: 50px;
  
}



nav button{
    height: 50px;
    color: white;
    border-radius: 20px;
    font-size: larger;
    border: none;
    background: none;
}

nav button:hover{
   color: gold;
}


img{
    height: 30px;
    width: 50px;
   
}

.ImageUser{
    border-radius: 100px;
    background: gray;
    height: 40px;
    width: 40px;
}


.containerLike{
    
    height: 400px;
    width: 600px;
    border: solid black 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    padding: 10px;
    background: #FFFFFF;
}


.VoltarPI{
    background: #FFD900;
    border-radius: 20px;
    height: 40px;
    border: none;
    margin-top: 5px;
    padding: 5px;
    font-size: larger;
}

.VoltarPI:hover{
    color: gold;
    background: black;
 }


.like{
    height: 200px;
    width: 200px;
}

@media screen and (max-width:375px) {

    
div{
  
    height: 400px;
    width: 340px;
    border: solid black 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    background: #FFFFFF;
}
}


@media screen and (max-width:415px) {

    
    div{
      
        height: 400px;
        width: 340px;
        border: solid black 2px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-top: 26px;
        background:  #FFFFFF;
    }
    }

 

@media screen and (max-width:428px) {

    
    div{
      
        height: 400px;
        width: 340px;
        border: solid black 2px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-top: 26px;
        background:  #FFFFFF;
    }
    }   

    @media screen and (max-width:360px) {

    
        div{
          
            height: 400px;
            width: 329px;
            border: solid black 2px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding-top: 26px;
            background:  #FFFFFF;
        }
        }       
